<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <div class="container">
    <%= render "shared /flash"%>
    <%= render 'admin/shared/nav'%>
    <%= yield %>
  </div>
  </body>
  <%= render "layouts/footer" %>
</html>
