<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <p class='nav user'>Welcome, <b><%= current_user.name %></b> Guru</p>
      <div class='exit button'> <%= button_to 'Exit', session_path(session), method: :delete %></div>
    <% end %>

    <div class='links'>
      <p><%= link_to 'Test Guru', root_path %></p>
      <p><%= link_to 'Registration', signup_path(@user) %></p>
      <p><%= link_to 'Login', login_path(session) %></p>
    </div>

    <%= yield %>
  </body>
  <%= render "layouts/footer" %>
</html>
