<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body><br><br>
  <footer>
    <p><%= current_year %></p>
    <p>Автор Азиев К.</p>
    <p><%= address  %></p>
    <p>Учебный проект в онлайн школе <a href='https://thinknetica.com/' target='blank'>Thinknetica</a></p>
  </footer>
</html>
